<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
            Materiales
        </ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="addMaterial()">
                <ion-icon slot="icon-only" name="add-circle-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    <app-swipe></app-swipe>
    <ion-list>
        <ion-item-sliding *ngFor="let m of materials">
            <ion-item (click)="addMaterial(m)">
                <ion-label>{{m.name}}</ion-label>
                <ion-note slot="end">{{m.quantity}}</ion-note>
            </ion-item>
            <ion-item-options side="end">
                <ion-item-option color="danger" expandable (click)="deleteMaterial(m)">
                    <ion-icon name="trash"></ion-icon>
                </ion-item-option>
            </ion-item-options>
        </ion-item-sliding>
    </ion-list>
</ion-content>
