<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
            Clientes
        </ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="add()">
                <ion-icon slot="icon-only" name="add-circle-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    <app-swipe></app-swipe>
    <ion-list>
        <ion-item-sliding *ngFor="let c of clients">
            <ion-item (click)="add(c)">
                <ion-label class="ion-text-wrap">
                    <ion-text color="primary">
                        <h3>{{c.name}}</h3>
                    </ion-text>
                    <p>{{c.email}}</p>
                    <ion-text color="secondary">
                        <p>{{c.phone}}</p>
                    </ion-text>
                </ion-label>
            </ion-item>
            <ion-item-options side="end">
                <ion-item-option color="danger" expandable (click)="delete(c)">
                    <ion-icon name="trash"></ion-icon>
                </ion-item-option>
            </ion-item-options>
        </ion-item-sliding>
    </ion-list>
</ion-content>
