<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>
            Material
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    <form class="form" [formGroup]="form" (ngSubmit)="submit(form.value)">
        <ion-list>
            <ion-item>
                <ion-label position="stacked">Nombre</ion-label>
                <ion-input formControlName="name"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label position="stacked">Cantidad</ion-label>
                <ion-input formControlName="quantity" type="number"></ion-input>
            </ion-item>
            <ion-item lines="none" class="ion-text-center">
                <ion-button expand="block" type="submit" [disabled]="!form.valid">Guardar</ion-button>
            </ion-item>

        </ion-list>
    </form>
</ion-content>
