<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
            Ordenes de compra
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card" *ngFor="let order of orders">
        <ion-card-header>
            <ion-card-title>Orden del día: <br />{{order.date}}</ion-card-title>
            <ion-card-subtitle>{{order.material.name}} ({{order.material.quantity}})</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
            <p *ngIf="order.notes">
                {{order.notes}}
            </p>
            <ion-grid>
                <ion-row>
                    <ion-col>
                        Piezas
                    </ion-col>
                    <ion-col>
                        Ancho
                    </ion-col>
                    <ion-col>
                        Largo
                    </ion-col>
                    <ion-col>
                        Área por unidad
                    </ion-col>
                    <ion-col>
                        Área total
                    </ion-col>
                </ion-row>
                <ion-row *ngFor="let item of order.items">
                    <ion-col *ngIf="item && item.pieces">
                        {{item.pieces}}
                    </ion-col>
                    <ion-col>
                        {{item.width}}
                    </ion-col>
                    <ion-col>
                        {{item.height}}
                    </ion-col>
                    <ion-col>
                        {{item.areaUnit}}
                    </ion-col>
                    <ion-col>
                        {{item.areaTotal}}
                    </ion-col>
                </ion-row>
                <ion-row class="bold" *ngIf="order.items.length > 1">
                    <ion-col>
                        Total:
                    </ion-col>
                </ion-row>
                <ion-row class="bold" *ngIf="order.items.length > 1">
                    <ion-col *ngIf="order && order.total ">
                        {{order.total.pieces}}
                    </ion-col>
                    <ion-col *ngIf="order && order.total ">
                        {{order.total.width}}
                    </ion-col>
                    <ion-col *ngIf="order && order.total ">
                        {{order.total.height}}
                    </ion-col>
                    <ion-col *ngIf="order && order.total ">
                        {{order.total.areaUnit}}
                    </ion-col>
                    <ion-col *ngIf="order && order.total ">
                        {{order.total.areaTotal}}
                    </ion-col>

                </ion-row>
            </ion-grid>
        </ion-card-content>
    </ion-card>


</ion-content>
