<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>
            Cliente
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    <form class="form" [formGroup]="form" (ngSubmit)="submit(form.value)">
        <ion-list>
            <ion-item>
                <ion-label position="stacked">Nombre</ion-label>
                <ion-input formControlName="name"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label position="stacked">Correo electrónico</ion-label>
                <ion-input formControlName="email" type="email"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label position="stacked">Teléfono</ion-label>
                <ion-input formControlName="phone"></ion-input>
            </ion-item>
            <div formGroupName="address">
                <ion-item-divider>
                    <ion-label>
                        Dirección
                    </ion-label>
                </ion-item-divider>
                <ion-item>
                    <ion-label position="stacked">Calle y número</ion-label>
                    <ion-input formControlName="street"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label position="stacked">Colonia</ion-label>
                    <ion-input formControlName="neighborhood"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label position="stacked">CP</ion-label>
                    <ion-input formControlName="zip"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label position="stacked">Ciudad ó delegación</ion-label>
                    <ion-input formControlName="city"></ion-input>
                </ion-item>
            </div>
            <ion-item lines="none" class="ion-text-center">
                <ion-button expand="block" type="submit" [disabled]="!form.valid">Guardar</ion-button>
            </ion-item>
        </ion-list>
    </form>
</ion-content>
