<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>
            Orden de trabajo
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    <form class="form" [formGroup]="form" (ngSubmit)="submit(form.value)">
        <ion-list>
            <ion-item>
                <ion-label position="stacked">Fecha</ion-label>
                <ion-datetime
                        formControlName="date"
                        monthShortNames="ene, feb, mar, abr, may, jun, jul, ago, sep, oct, nov, dic"
                        displayFormat="D MMM YY"></ion-datetime>
            </ion-item>
            <ion-item>
                <ion-label position="stacked">Cliente</ion-label>
                <ion-select formControlName="client" (ionChange)="addClient($event)">
                    <ion-select-option [value]="client.id" *ngFor="let client of clients">{{client.name}}</ion-select-option>
                    <ion-select-option value="addClient">Agregar cliente</ion-select-option>
                </ion-select>
            </ion-item>
            <ion-item>
                <ion-label position="stacked">Material</ion-label>
                <ion-select formControlName="material" (ionChange)="addMaterial($event)">
                    <ion-select-option [value]="material.id" *ngFor="let material of materials">{{material.name}}</ion-select-option>
                    <ion-select-option value="addMaterial">Agregar material</ion-select-option>
                </ion-select>
            </ion-item>
            <ion-item>
                <ion-label position="stacked">Notas</ion-label>
                <ion-input formControlName="notes"></ion-input>
            </ion-item>
            <ion-item>
                <ion-button expand="block" type="button" (click)="addItemForm()">Agregar producto</ion-button>
            </ion-item>
            <div formArrayName="items">
                <ion-item
                     *ngFor="let item of form.get('items')['controls']; let i=index">
                    <ion-card [formGroupName]="i">
                        <ion-fab vertical="top" horizontal="end" slot="fixed" (click)="removeItem(item)">
                            <ion-fab-button size="small" color="danger" >
                                <ion-icon name="close"></ion-icon>
                            </ion-fab-button>
                        </ion-fab>
                        <ion-card-content>
                            <ion-grid>
                                <ion-row>
                                    <ion-col sizeXs="12" sizeMd="3" >
                                        <ion-item>
                                            <ion-label position="stacked">Piezas</ion-label>
                                            <ion-input type="number" formControlName="pieces" (ionChange)="updateTotal(item)"></ion-input>
                                        </ion-item>
                                    </ion-col>
                                    <ion-col sizeXs="12" sizeMd="3" >
                                        <ion-item>
                                            <ion-label position="stacked">Ancho</ion-label>
                                            <ion-input type="number" formControlName="width" (ionChange)="updateTotal(item)"></ion-input>
                                        </ion-item>
                                    </ion-col>
                                    <ion-col sizeXs="12" sizeMd="3" >
                                        <ion-item>
                                            <ion-label position="stacked">Largo</ion-label>
                                            <ion-input type="number" formControlName="height" (ionChange)="updateTotal(item)"></ion-input>
                                        </ion-item>
                                    </ion-col>
                                    <ion-col sizeXs="12" sizeMd="3" >
                                        <ion-item>
                                            <ion-label>Área por pieza: {{form.value.items[i].areaUnit}}</ion-label>
                                        </ion-item>
                                        <ion-item>
                                            <ion-label>Área total: {{form.value.items[i].areaTotal}}</ion-label>
                                        </ion-item>
                                    </ion-col>
                                </ion-row>
                            </ion-grid>
                        </ion-card-content>
                    </ion-card>
                </ion-item>
            </div>
            <ion-item lines="none" class="ion-text-center">
                <ion-button expand="block" type="submit" [disabled]="!form.valid">Guardar</ion-button>
            </ion-item>
        </ion-list>
    </form>
</ion-content>
